################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/clu.openapi/bin
/clu.openapi/obj
